*.class
*.log
*.cc.o
*.db
.metal
aegean/
argo/
compiler-rt/
gold/
llvm/
local/
misc/
newlib/
poseidon/
*.bin
patmos/simulator/build/src/libpatmos-simulator.a
patmos/simulator/build/Testing/
patmos/target/
patmos/asm-tests/ISATestsGen/out/