*.class
*.log
*.cc.o
*.db
.metal
aegean/
argo/
compiler-rt/
gold/
llvm/
local/
misc/
newlib/
poseidon/
*.bin
patmos/simulator/build/src/libpatmos-simulator.a
patmos/simulator/build/Testing/
patmos/target/
patmos/asm-tests/ISATestsGen/out/
patmos/asm-tests/ISASim/out/
patmos/asm-tests/ISATestsGen/ISATestsGen/CMakeFiles/
patmos/asm-tests/ISASim/ISASim/CMakeFiles/
patmos/asm-tests/tests/
patmos/asm/*.s

 
/**/CMakeLists.txt.user
/**/CMakeCache.txt
/**/CMakeFiles
/**/CMakeScripts
/**/Testing
/**/Makefile
/**/cmake_install.cmake
/**/install_manifest.txt
/**/compile_commands.json
/**/CTestTestfile.cmake
/**/_deps